In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
import pandas as pd
import pprint

pd.options.display.float_format = '{:20,.4f}'.format
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)

# open file
x_rates = pd.read_csv("euro-daily-hist_1999_2020.csv")

# strip brackets and trailing space from country names
# replace remaining space with underscore
# lower case all column names
x_rates.columns = x_rates.columns.str.replace("[","").str.replace("]","")
x_rates.columns = x_rates.columns.str.rstrip()
x_rates.columns = x_rates.columns.str.replace(" ","_")
x_rates.columns = x_rates.columns.str.lower()

# rename columns
x_rates.rename(columns={"period\\unit:":"date",
                        "chinese_yuan_renminbi":"chinese_yuan",
                        "uk_pound_sterling":"uk_pound"}, inplace=True)

# convert datetime
x_rates["date"] = pd.to_datetime(x_rates["date"])

# resort and reindex
x_rates.sort_values("date", inplace=True)
x_rates.reset_index(drop=True, inplace=True)

# convert hyphens in currency columns to NaN
import numpy as np
x_rates = x_rates.replace("-", np.nan)

# convert exchange rate values to float
x_rates.iloc[:,1:] = x_rates.iloc[:,1:].astype(float)

mini = x_rates.iloc[:5000]
display(mini.head(2))
display(mini.tail(2))

/var/folders/bz/5cj1tzbj5xn319rpqrw6gpmh0000gn/T/ipykernel_9008/758582820.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  x_rates.columns = x_rates.columns.str.replace("[","").str.replace("]","")

     date      australian_dollar   bulgarian_lev  brazilian_real    canadian_dollar        swiss_franc      chinese_yuan     cypriot_pound        czech_koruna         danish_krone        estonian_kroon          uk_pound           greek_drachma      hong_kong_dollar    croatian_kuna   hungarian_forint     indonesian_rupiah   israeli_shekel  indian_rupee     iceland_krona        japanese_yen          korean_won        lithuanian_litas       latvian_lats         maltese_lira         mexican_peso       malaysian_ringgit     norwegian_krone    new_zealand_dollar     philippine_peso       polish_zloty         romanian_leu        russian_rouble        swedish_krona      singapore_dollar      slovenian_tolar       slovak_koruna          thai_baht          turkish_lira           us_dollar       south_african_rand
0 1999-01-04               1.9100      NaN             NaN                     1.8004               1.6168      NaN                    0.5823              35.1070               7.4501              15.6466               0.7111             327.1500               9.1332      NaN                   251.4800           9,433.6100       NaN            NaN                   81.4800             133.7300           1,398.5900               4.7170               0.6668               0.4432              11.6446               4.4798               8.8550               2.2229              45.5100               4.0712               1.3111              25.2875               9.4696               1.9554             189.0450              42.9910              42.6799               0.3723               1.1789               6.9358
1 1999-01-05               1.8944      NaN             NaN                     1.7965               1.6123      NaN                    0.5823              34.9170               7.4495              15.6466               0.7122             324.7000               9.1341      NaN                   250.8000           9,314.5100       NaN            NaN                   81.5300             130.9600           1,373.0100               4.7174               0.6657               0.4432              11.5960               4.4805               8.7745               2.2011              44.7450               4.0245               1.3168              26.5876               9.4025               1.9655             188.7750              42.8480              42.5048               0.3728               1.1790               6.7975

        date      australian_dollar      bulgarian_lev       brazilian_real       canadian_dollar        swiss_franc         chinese_yuan      cypriot_pound     czech_koruna         danish_krone      estonian_kroon       uk_pound        greek_drachma   hong_kong_dollar       croatian_kuna      hungarian_forint     indonesian_rupiah     israeli_shekel        indian_rupee         iceland_krona        japanese_yen          korean_won       lithuanian_litas  latvian_lats  maltese_lira     mexican_peso       malaysian_ringgit     norwegian_krone    new_zealand_dollar     philippine_peso       polish_zloty         romanian_leu        russian_rouble        swedish_krona      singapore_dollar    slovenian_tolar  slovak_koruna       thai_baht          turkish_lira           us_dollar       south_african_rand
4998 2018-04-13               1.5801               1.9558               4.1979               1.5482               1.1854               7.7363      NaN                    25.3070               7.4467       NaN                     0.8640      NaN                     9.6687               7.4165             311.1300          16,939.5700               4.3316              80.3160             121.6000             132.6400           1,316.2600        NaN             NaN           NaN                   22.3162               4.7714               9.5643               1.6703              63.9690               4.1763               4.6603              76.2186              10.3798               1.6158       NaN             NaN                    38.3670               5.0411               1.2317              14.8457
4999 2018-04-16               1.5928               1.9558               4.2300               1.5596               1.1878               7.7726      NaN                    25.2650               7.4473       NaN                     0.8647      NaN                     9.7104               7.4128             310.3000          17,039.9800               4.3327              81.0175             122.0000             132.7700           1,328.3300        NaN             NaN           NaN                   22.3399               4.8057               9.5950               1.6853              64.3870               4.1627               4.6508              76.9420              10.4045               1.6221       NaN             NaN                    38.6440               5.0816               1.2370              14.9467

In [3]:
# create a list of data frame names
# not sure this is neccessary but trying df = df_list.index(currency) in the framer function doesn't seem to work
# create a list of data frames for each currency with log rate of the exchange rate, 30 day rolling mean, and year
col_names = []
df_list = []
df_dict = {}
for column in mini.columns[1:]:
    df_name = column
    col_names.append(df_name)
    df = mini[["date", column]].copy()
    df = df[df[column].notna()]
    df["log_rate"] = np.log(df.iloc[:,1]/df.iloc[:,1].shift()) # getting the log of the exchange rate # double check this is the correct way to get log
    df["rolling_mean_30"] = df[column].rolling(30).mean()
    df["year"] = df["date"].dt.year
#     df_dict[column] = df
    df_list.append(df)

In [4]:
# functions to build annual volatility given string of currency name
# function to assign dataframe to variable name
# i could include this in volatizer, but for now keep separate because these are frames of all the original data
def framer(currency):
    index = col_names.index(currency)
    df = df_list[index] # this is a dataframe containing a single currency and the columns built in cell 3
    return df

# function to create df with year and annual volatility for every row # i think i could use aggregation here but don't know how
def volatizer(currency):
    all_the_years = [currency[currency['year'] == y] for y in currency['year'].unique()] # list of dataframes for each year
    c_name = currency.columns[1]
    df_dict = {}
    for frame in all_the_years:
        year_name = frame.iat[0,4] # the year for each df, becomes the "year" cell for annual volatility df
        annual_volatility = frame["log_rate"].std()*253**.5 # volatility measured by standard deviation * 253 trading days per year raised to the 0.5 power
        df_dict[year_name] = annual_volatility
    df = pd.DataFrame.from_dict(df_dict, orient="index", columns=[c_name+"_annual_vol"]) # indexing on year, not sure if this is cool
    return df
        
brazilian_real = framer("brazilian_real")
br_vol = volatizer(brazilian_real)
# now i need to run this on all 40 df's and get a new df with all of them joined
# then build an hbar chart with the eight from above
# maybe two hbar charts for cell phones?

In [5]:
display(br_vol)

      brazilian_real_annual_vol
2000                  0.2621
2001                  0.2217
2002                  0.3007
2003                  0.2003
2004                  0.1244
2005                  0.1670
2006                  0.1669
2007                  0.1549
2008                  0.3049
2009                  0.1553
2010                  0.1202
2011                  0.1200
2012                  0.1074
2013                  0.1360
2014                  0.1450
2015                  0.2342
2016                  0.1724
2017                  0.1217
2018                  0.1082

In [10]:
# use string of currency to get index position and assign it to variable name
index = col_names.index("chinese_yuan")
print(index)
chinese_yuan = df_list[5]

# function to create df for each year in currency df
def split_years(df):
    return [df[df['year'] == y] for y in df['year'].unique()]

all_the_years = split_years(chinese_yuan)
# see if I can make split_years split and heads


# # determine annual volatility for euro to currency
# for frame in all_the_years:
#     year_name = frame.iat[0,4]
#     annual_volatility = frame["log_rate"].std()*253**.5 # volatility measured by standard deviation * 253 trading days per year
#     print("The Euro to Chinese yuan volatility for", year_name, "is" ,annual_volatility)

5

In [11]:
display(all_the_years[0])

       date        chinese_yuan           log_rate          rolling_mean_30    year
268 2000-01-13               8.5054                  NaN                  NaN  2000
269 2000-01-14               8.4632              -0.0050                  NaN  2000
270 2000-01-17               8.3548              -0.0129                  NaN  2000
271 2000-01-18               8.3540              -0.0001                  NaN  2000
272 2000-01-19               8.3639               0.0012                  NaN  2000
273 2000-01-20               8.3507              -0.0016                  NaN  2000
274 2000-01-21               8.3573               0.0008                  NaN  2000
275 2000-01-24               8.2993              -0.0070                  NaN  2000
276 2000-01-25               8.2836              -0.0019                  NaN  2000
277 2000-01-26               8.2927               0.0011                  NaN  2000
278 2000-01-27               8.2571              -0.0043                  NaN  2000
279 2000-01-28               8.1512              -0.0129                  NaN  2000
280 2000-01-31               8.1040              -0.0058                  NaN  2000
281 2000-02-01               8.0370              -0.0083                  NaN  2000
282 2000-02-02               8.0428               0.0007                  NaN  2000
283 2000-02-03               8.0684               0.0032                  NaN  2000
284 2000-02-04               8.1404               0.0089                  NaN  2000
285 2000-02-07               8.0841              -0.0069                  NaN  2000
286 2000-02-08               8.1967               0.0138                  NaN  2000
287 2000-02-09               8.2224               0.0031                  NaN  2000
288 2000-02-10               8.1677              -0.0067                  NaN  2000
289 2000-02-11               8.1123              -0.0068                  NaN  2000
290 2000-02-14               8.1669               0.0067                  NaN  2000
291 2000-02-15               8.0933              -0.0091                  NaN  2000
292 2000-02-16               8.1148               0.0027                  NaN  2000
293 2000-02-17               8.2100               0.0117                  NaN  2000
294 2000-02-18               8.1586              -0.0063                  NaN  2000
295 2000-02-21               8.1586               0.0000                  NaN  2000
296 2000-02-22               8.2952               0.0166                  NaN  2000
297 2000-02-23               8.3333               0.0046               8.2247  2000
298 2000-02-24               8.1926              -0.0170               8.2142  2000
299 2000-02-25               8.1222              -0.0086               8.2029  2000
300 2000-02-28               7.9782              -0.0179               8.1903  2000
301 2000-02-29               8.0403               0.0078               8.1799  2000
302 2000-03-01               8.0014              -0.0048               8.1678  2000
303 2000-03-02               8.0494               0.0060               8.1577  2000
304 2000-03-03               7.9948              -0.0068               8.1456  2000
305 2000-03-06               7.9790              -0.0020               8.1350  2000
306 2000-03-07               7.9401              -0.0049               8.1235  2000
307 2000-03-08               7.8987              -0.0052               8.1104  2000
308 2000-03-09               7.9592               0.0076               8.1005  2000
309 2000-03-10               7.9567              -0.0003               8.0940  2000
310 2000-03-13               8.0419               0.0107               8.0919  2000
311 2000-03-14               7.9625              -0.0099               8.0894  2000
312 2000-03-15               7.9848               0.0028               8.0875  2000
313 2000-03-16               7.9981               0.0017               8.0851  2000
314 2000-03-17               8.0055               0.0009               8.0806  2000
315 2000-03-20               8.0411               0.0044               8.0792  2000
316 2000-03-21               8.0295              -0.0014               8.0736  2000
317 2000-03-22               7.9484              -0.0102               8.0645  2000
318 2000-03-23               7.9923               0.0055               8.0587  2000
319 2000-03-24               8.0411               0.0061               8.0563  2000
320 2000-03-27               8.0386              -0.0003               8.0520  2000
321 2000-03-28               7.9848              -0.0067               8.0484  2000
322 2000-03-29               7.9194              -0.0082               8.0419  2000
323 2000-03-30               7.9087              -0.0014               8.0318  2000
324 2000-03-31               7.9070              -0.0002               8.0234  2000
325 2000-04-03               7.9161               0.0012               8.0154  2000
326 2000-04-04               7.8946              -0.0027               8.0020  2000
327 2000-04-05               8.0063               0.0140               7.9911  2000
328 2000-04-06               7.9666              -0.0050               7.9836  2000
329 2000-04-07               7.9161              -0.0064               7.9767  2000
330 2000-04-10               7.9376               0.0027               7.9754  2000
331 2000-04-11               7.9410               0.0004               7.9720  2000
332 2000-04-12               7.9261              -0.0019               7.9695  2000
333 2000-04-13               7.8938              -0.0041               7.9643  2000
334 2000-04-14               7.8963               0.0003               7.9611  2000
335 2000-04-17               7.9236               0.0035               7.9592  2000
336 2000-04-18               7.8607              -0.0080               7.9566  2000
337 2000-04-19               7.8309              -0.0038               7.9543  2000
338 2000-04-20               7.7605              -0.0090               7.9477  2000
341 2000-04-25               7.6993              -0.0079               7.9391  2000
342 2000-04-26               7.6090              -0.0118               7.9247  2000
343 2000-04-27               7.5842              -0.0033               7.9121  2000
344 2000-04-28               7.5197              -0.0085               7.8966  2000
346 2000-05-02               7.5453               0.0034               7.8815  2000
347 2000-05-03               7.3773              -0.0225               7.8605  2000
348 2000-05-04               7.4054               0.0038               7.8393  2000
349 2000-05-05               7.4361               0.0041               7.8196  2000
350 2000-05-08               7.4096              -0.0036               7.8016  2000
351 2000-05-09               7.4311               0.0029               7.7829  2000
352 2000-05-10               7.5379               0.0143               7.7661  2000
353 2000-05-11               7.5147              -0.0031               7.7487  2000
354 2000-05-12               7.4733              -0.0055               7.7316  2000
355 2000-05-15               7.5710               0.0130               7.7200  2000
356 2000-05-16               7.5031              -0.0090               7.7065  2000
357 2000-05-17               7.3847              -0.0159               7.6891  2000
358 2000-05-18               7.4013               0.0022               7.6719  2000
359 2000-05-19               7.3458              -0.0075               7.6536  2000
360 2000-05-22               7.4493               0.0140               7.6350  2000
361 2000-05-23               7.5412               0.0123               7.6209  2000
362 2000-05-24               7.5304              -0.0014               7.6080  2000
363 2000-05-25               7.4336              -0.0129               7.5912  2000
364 2000-05-26               7.5677               0.0179               7.5788  2000
365 2000-05-29               7.6662               0.0129               7.5701  2000
366 2000-05-30               7.7464               0.0104               7.5652  2000
367 2000-05-31               7.7001              -0.0060               7.5586  2000
368 2000-06-01               7.7224               0.0029               7.5519  2000
369 2000-06-02               7.7431               0.0027               7.5480  2000
370 2000-06-05               7.8077               0.0083               7.5472  2000
371 2000-06-06               7.8507               0.0055               7.5503  2000
372 2000-06-07               7.9078               0.0072               7.5572  2000
373 2000-06-08               8.0022               0.0119               7.5703  2000
374 2000-06-09               7.8549              -0.0186               7.5793  2000
375 2000-06-12               7.8855               0.0039               7.5915  2000
376 2000-06-13               7.9318               0.0059               7.6044  2000
377 2000-06-14               7.9757               0.0055               7.6244  2000
378 2000-06-15               7.8830              -0.0117               7.6403  2000
379 2000-06-16               7.9170               0.0043               7.6563  2000
380 2000-06-19               7.9790               0.0078               7.6753  2000
381 2000-06-20               7.8946              -0.0106               7.6907  2000
382 2000-06-21               7.8383              -0.0072               7.7008  2000
383 2000-06-22               7.7845              -0.0069               7.7097  2000
384 2000-06-23               7.7911               0.0008               7.7203  2000
385 2000-06-26               7.7200              -0.0092               7.7253  2000
386 2000-06-27               7.7812               0.0079               7.7346  2000
387 2000-06-28               7.7928               0.0015               7.7482  2000
388 2000-06-29               7.8665               0.0094               7.7637  2000
389 2000-06-30               7.9095               0.0055               7.7825  2000
390 2000-07-03               7.8574              -0.0066               7.7961  2000
391 2000-07-04               7.8524              -0.0006               7.8065  2000
392 2000-07-05               7.8938               0.0053               7.8186  2000
393 2000-07-06               7.8979               0.0005               7.8340  2000
394 2000-07-07               7.8491              -0.0062               7.8434  2000
395 2000-07-10               7.8822               0.0042               7.8506  2000
396 2000-07-11               7.8855               0.0004               7.8553  2000
397 2000-07-12               7.8623              -0.0029               7.8607  2000
398 2000-07-13               7.7382              -0.0159               7.8612  2000
399 2000-07-14               7.7340              -0.0005               7.8609  2000
400 2000-07-17               7.7407               0.0009               7.8587  2000
401 2000-07-18               7.7415               0.0001               7.8550  2000
402 2000-07-19               7.6281              -0.0148               7.8457  2000
403 2000-07-20               7.6314               0.0004               7.8333  2000
404 2000-07-21               7.7498               0.0154               7.8298  2000
405 2000-07-24               7.7241              -0.0033               7.8244  2000
406 2000-07-25               7.7887               0.0083               7.8197  2000
407 2000-07-26               7.7721              -0.0021               7.8129  2000
408 2000-07-27               7.7713              -0.0001               7.8092  2000
409 2000-07-28               7.6777              -0.0121               7.8012  2000
410 2000-07-31               7.6504              -0.0036               7.7902  2000
411 2000-08-01               7.6678               0.0023               7.7827  2000
412 2000-08-02               7.5668              -0.0133               7.7736  2000
413 2000-08-03               7.4725              -0.0125               7.7632  2000
414 2000-08-04               7.4750               0.0003               7.7527  2000
415 2000-08-07               7.5188               0.0058               7.7460  2000
416 2000-08-08               7.4882              -0.0041               7.7362  2000
417 2000-08-09               7.4270              -0.0082               7.7240  2000
418 2000-08-10               7.4750               0.0064               7.7110  2000
419 2000-08-11               7.5586               0.0111               7.6993  2000
420 2000-08-14               7.4584              -0.0133               7.6860  2000
421 2000-08-15               7.5470               0.0118               7.6758  2000
422 2000-08-16               7.5089              -0.0051               7.6630  2000
423 2000-08-17               7.5652               0.0075               7.6519  2000
424 2000-08-18               7.5544              -0.0014               7.6421  2000
425 2000-08-21               7.4683              -0.0115               7.6283  2000
426 2000-08-22               7.4261              -0.0057               7.6129  2000
427 2000-08-23               7.3814              -0.0060               7.5969  2000
428 2000-08-24               7.4592               0.0105               7.5876  2000
429 2000-08-25               7.4667               0.0010               7.5787  2000
430 2000-08-28               7.4551              -0.0016               7.5692  2000
431 2000-08-29               7.4203              -0.0047               7.5585  2000
432 2000-08-30               7.3740              -0.0063               7.5500  2000
433 2000-08-31               7.3715              -0.0003               7.5413  2000
434 2000-09-01               7.3682              -0.0004               7.5286  2000
435 2000-09-04               7.4493               0.0109               7.5195  2000
436 2000-09-05               7.3549              -0.0128               7.5050  2000
437 2000-09-06               7.2987              -0.0077               7.4892  2000
438 2000-09-07               7.1811              -0.0162               7.4695  2000
439 2000-09-08               7.2300               0.0068               7.4546  2000
440 2000-09-11               7.1257              -0.0145               7.4371  2000
441 2000-09-12               7.1298               0.0006               7.4192  2000
442 2000-09-13               7.1629               0.0046               7.4057  2000
443 2000-09-14               7.1952               0.0045               7.3965  2000
444 2000-09-15               7.1306              -0.0090               7.3850  2000
445 2000-09-18               7.0570              -0.0104               7.3696  2000
446 2000-09-19               7.0694               0.0018               7.3557  2000
447 2000-09-20               7.0156              -0.0076               7.3419  2000
448 2000-09-21               7.0553               0.0056               7.3280  2000
449 2000-09-22               7.3583               0.0420               7.3213  2000
450 2000-09-25               7.2589              -0.0136               7.3146  2000
451 2000-09-26               7.2482              -0.0015               7.3047  2000
452 2000-09-27               7.3342               0.0118               7.2989  2000
453 2000-09-28               7.3102              -0.0033               7.2904  2000
454 2000-09-29               7.2548              -0.0076               7.2804  2000
455 2000-10-02               7.2854               0.0042               7.2743  2000
456 2000-10-03               7.2531              -0.0044               7.2685  2000
457 2000-10-04               7.2258              -0.0038               7.2633  2000
458 2000-10-05               7.2722               0.0064               7.2571  2000
459 2000-10-06               7.2035              -0.0095               7.2483  2000
460 2000-10-09               7.1969              -0.0009               7.2397  2000
461 2000-10-10               7.2184               0.0030               7.2330  2000
462 2000-10-11               7.2175              -0.0001               7.2278  2000
463 2000-10-12               7.1579              -0.0083               7.2206  2000
464 2000-10-13               7.1406              -0.0024               7.2130  2000
465 2000-10-16               7.0446              -0.0135               7.1996  2000
466 2000-10-17               7.0321              -0.0018               7.1888  2000
467 2000-10-18               7.0561               0.0034               7.1807  2000
468 2000-10-19               6.9618              -0.0135               7.1734  2000
469 2000-10-20               6.9957               0.0049               7.1656  2000
470 2000-10-23               6.9336              -0.0089               7.1592  2000
471 2000-10-24               6.9411               0.0011               7.1529  2000
472 2000-10-25               6.8757              -0.0095               7.1433  2000
473 2000-10-26               6.8302              -0.0066               7.1312  2000
474 2000-10-27               6.8898               0.0087               7.1231  2000
475 2000-10-30               7.0206               0.0188               7.1219  2000
476 2000-10-31               6.9668              -0.0077               7.1185  2000
477 2000-11-01               7.0801               0.0161               7.1206  2000
478 2000-11-02               7.1563               0.0107               7.1240  2000
479 2000-11-03               7.2258               0.0097               7.1196  2000
480 2000-11-06               7.1737              -0.0072               7.1168  2000
481 2000-11-07               7.1075              -0.0093               7.1121  2000
482 2000-11-08               7.0843              -0.0033               7.1037  2000
483 2000-11-09               7.0611              -0.0033               7.0954  2000
484 2000-11-10               7.1786               0.0165               7.0929  2000
485 2000-11-13               7.1348              -0.0061               7.0879  2000
486 2000-11-14               7.1041              -0.0043               7.0829  2000
487 2000-11-15               7.1149               0.0015               7.0792  2000
488 2000-11-16               7.0926              -0.0031               7.0732  2000
489 2000-11-17               7.0644              -0.0040               7.0686  2000
490 2000-11-20               7.0255              -0.0055               7.0629  2000
491 2000-11-21               7.0139              -0.0017               7.0561  2000
492 2000-11-22               6.9767              -0.0053               7.0480  2000
493 2000-11-23               6.9750              -0.0002               7.0419  2000
494 2000-11-24               6.9825               0.0011               7.0367  2000
495 2000-11-27               6.9576              -0.0036               7.0338  2000
496 2000-11-28               7.0859               0.0183               7.0356  2000
497 2000-11-29               7.1596               0.0103               7.0390  2000
498 2000-11-30               7.1877               0.0039               7.0465  2000
499 2000-12-01               7.2300               0.0059               7.0543  2000
500 2000-12-04               7.3732               0.0196               7.0690  2000
501 2000-12-05               7.2920              -0.0111               7.0807  2000
502 2000-12-06               7.3069               0.0020               7.0951  2000
503 2000-12-07               7.4021               0.0129               7.1141  2000
504 2000-12-08               7.3624              -0.0054               7.1299  2000
505 2000-12-11               7.2871              -0.0103               7.1388  2000
506 2000-12-12               7.2689              -0.0025               7.1488  2000
507 2000-12-13               7.2407              -0.0039               7.1542  2000